node-red/flows.json
[{"id":"477d2c02.975034","type":"tab","label":"1_teste","disabled":false,"info":""},{"id":"58cb4bba.0e9aa4","type":"mqtt in","z":"477d2c02.975034","name":"mqtt_data","topic":"esp8266","qos":"0","datatype":"auto","broker":"256c3907.ee2b76","x":138.13970184326172,"y":173.68686962127686,"wires":[["707dc248.1caf7c"]]},{"id":"81f32f0d.ca09f","type":"inject","z":"477d2c02.975034","name":"sensor1","topic":"esp8266","payload":"w","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":137.4904384613037,"y":106.23271560668945,"wires":[["9de4d0c0.41023"]]},{"id":"707dc248.1caf7c","type":"ui_chart","z":"477d2c02.975034","name":"graph","group":"c57fed20.52ea5","order":1,"width":0,"height":0,"label":"Peso da colmeia","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":494.8924674987793,"y":174.39051246643066,"wires":[[]]},{"id":"865de953.136a58","type":"inject","z":"477d2c02.975034","name":"sensor1","topic":"esp8266","payload":"t","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":152.6902198791504,"y":335.4912567138672,"wires":[["fe8187cb.660908"]]},{"id":"fe8187cb.660908","type":"mqtt out","z":"477d2c02.975034","name":"","topic":"esp8266","qos":"0","retain":"true","broker":"256c3907.ee2b76","x":531.4242706298828,"y":335.61058139801025,"wires":[]},{"id":"4fe49410.5e735c","type":"mqtt in","z":"477d2c02.975034","name":"mqtt_data","topic":"esp8266","qos":"0","datatype":"auto","broker":"256c3907.ee2b76","x":147.581298828125,"y":388.08416748046875,"wires":[["ab049668.81de28"]]},{"id":"ab049668.81de28","type":"ui_chart","z":"477d2c02.975034","name":"graph_temperatura","group":"c57fed20.52ea5","order":1,"width":0,"height":0,"label":"temperatura colmeia","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":565.3929991722107,"y":388.749436378479,"wires":[[]]},{"id":"9de4d0c0.41023","type":"mqtt out","z":"477d2c02.975034","name":"","topic":"esp8266","qos":"0","retain":"true","broker":"256c3907.ee2b76","x":500.13446044921875,"y":107.72920227050781,"wires":[]},{"id":"256c3907.ee2b76","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.10","port":"1883","clientid":"test","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c57fed20.52ea5","type":"ui_group","z":"","name":"","tab":"d5359e3d.3f799","disp":true,"width":"6","collapse":false},{"id":"d5359e3d.3f799","type":"ui_tab","z":"","name":"Dashboard behive","icon":"dashboard","order":1,"disabled":false,"hidden":false}]